footer {
    width: 100%;
    height: 620px;
    background-color: #EBEBEB;
    position: relative;
    font-family: Poppins;
    
        a {
            text-decoration: none; 
            line-height: 24px;
            font-size: 16px;
            display: flex;
            font-weight: 500;
            color: #000;
        }
        img {
            position:absolute; //tirar isso e centraliza no responsivo
            top: 64px;
        }

        .pt1 a:first-child, .pt2 a:first-child {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
        }
        
        .pt1 {
            position: absolute;
            .rdp-1, .rdp-2, .rdp-3, .rdp-4 {
                position: absolute;
                top: 60px;
            }
            .rdp-1 {
                bottom: 15px;
                left: 301px;
                width: 225px;
            a {
                margin-bottom: 12px;
            }
        }
            .rdp-2 {
                margin-bottom: 15px;
                left: 500px;
                a {
                    margin-bottom: 12px;
                }
        }
            .rdp-3 {
                margin-bottom: 15px;
                left: 670px;
            a {
                width: 180px;
                margin-bottom: 12px;
            }
    }
            .rdp-4 {
                 margin-bottom: 25px;
                left: 870px;
             a {
                 width: 200px;
                margin-bottom: 12px;
            }
}
    }
    .pt2 {
        position: absolute;
        .rdp-5, .rdp-6, .rdp-7, .rdp-8 {
            position: absolute;
            top: 230px;
        }
        .rdp-5 {
            bottom: 15px;
            left: 301px;
        a {
            width: 180px;
            margin-bottom: 15px;
        }
    }
        .rdp-6 {
            margin-bottom: 15px;
            left: 500px;
            a {
                width: 180px;
                margin-bottom: 15px;
            }
    }
        .rdp-7 {
            margin-bottom: 15px;
            left: 670px;
        a {
            width: 170px;
            margin-bottom: 15px;
        }
}
        .rdp-8 {
             margin-bottom: 25px;
            left: 870px;
         a {
             width: 300px;
            margin-bottom: 15px;
        }
}
}
        .copyright {
            position: absolute;
            top: 583px;
            font-size: 14px;
        }
}

@media (max-width:1169px) {
    footer {
        // height: 500px;
        .container {
            max-width: 100%;
        }
        .rdp-1, .rdp-2, .rdp-3, .rdp-4, .rdp-5, .rdp-6, .rdp-7, .rdp-8 {
            position:absolute;
            a:first-child {
            display: grid;
            width: 100vw;
            text-align: center;
            justify-content: center;
            position: absolute;
            font-size: 18px;
        }
        }

        .pt1, .pt2 {
            display: flex;
            margin-top: 100px;
            margin-left: -291px;
        }
        .pt2 {
            margin-top: 30px;
        }

        .rdp-2 {
            margin-top: 25px;
            margin-left: -198px;
        }
        .rdp-3 {
            margin-top: 50px;
            margin-left: -368px;
            z-index: 2;
        }
        .rdp-4 {
            margin-top: 75px;
            margin-left: -568px;
        }
        .rdp-5 {
            z-index: 1;
        }
        .rdp-6 {
            margin-top: 25px;
            margin-left: -198px;
            z-index: 3;
        }
        .rdp-7 {
            margin-top: 50px;
            margin-left: -368px;
            z-index: 4;
        }
        .rdp-8 {
            margin-top: 75px;
            margin-left: -568px;
            z-index: 5;
        }

        .img-center {
            display: grid;
            width: 100vw;
            text-align: center;
            justify-content: center;
            position: relative;
            img {
                left: 20px;
            }
        }
        
        a {
            display: none;
        }
        
        .copyright a{
            position: absolute;
            left: 20px;
            top: -195px;
            display: flex;
            width: 90vw;
        }
    }
}

@media (max-width:375px) {
    .container {
        max-width: 100vw;
    }
    .rdp-1, .rdp-2, .rdp-3, .rdp-4, .rdp-5, .rdp-6, .rdp-7, .rdp-8 {
        position:absolute;
        a:first-child {
        display: grid;
        width: 100vw;
        text-align: center;
        justify-content: center;
        position: absolute;
        font-size: 22px;
    }
    }
}
