::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #F7F8FD;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb {
    background: #009FE0;
    border-radius: 30px;
}