@import "../variables/_variables.scss";
@import "../variables/_navbar.scss";
@import "../variables/_footer.scss";

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Poppins;
}

.container {
    max-width: 1170px;
    margin: auto;
}

body {
    background-color: $bg;  
    h1 {
        text-align: center;
        margin: 25px 0 25px 0;
    }
    // p {
    //     font-size: 20px;
    // }
    p:last-child {
        margin-bottom: 50px;
    }
}