@import "../variables/_variables.scss";
@import "../variables/_navbar.scss";
@import "../variables/_footer.scss";
@import "../variables/_scrollbar.scss";

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Poppins;
}

.container {
    max-width: 1170px;
    margin: auto;
}

h1 {
    text-align: center;
    margin: 25px 0 25px 0;
}

h2 {
    text-align: left;
    font-size: 24px;
}

p {
    font-size: 20px;
}

@media (max-width: 1169px) {
    .container {
        max-width: calc(100% - 50px);
    }
}

@media (max-width: 576px) {
.container {
    p, i {
    font-size: 18px;
}
}
}