@import "../../variables/_variables.scss";
@import "../../variables/_navbar.scss";
@import "../../variables/_footer.scss";
@import "../../variables/_scrollbar.scss";

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.container {
    max-width: 1170px;
    margin: auto;
}


h1 {
        font-size: 22px;
        width: 270px;
        text-align: center;
}
h2 {
        font-size: 20px;
        width: 270px;
        text-align: center;
}
    h3 {
    font-size: 32px;
    text-align: center;
    margin: 50px 0 50px 0;
}

.container {
    .content1, .content2 {
        display:inline-flex
    }
    
    .content1 {
        margin-bottom: 50px;
        .align_1 {
            margin-left: 200px;
        }
        .align_2 {
            margin-left: 230px;
        }
    }

    .content2 {
        .align_1 {
            margin: 0 30px 0 150px
        }
        .align_2 {
            margin-right: 30px;
        }
    }

    .content2:last-child {
        margin-bottom: 50px;
            .align_2 {
                margin-right: 6px;
                h2 {
                    width: 294px;
                }
            }
            
    }

}

// @media (max-width: 500px) {
//     .content1 img, .content2 img {
//         margin: 0;
//     }

// }